.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#0c490c, #278b27);
  
}

.dropzone {
  margin: 50px;
  padding: 20px;
  font-size: 20px;
  color: beige;
  background: linear-gradient(#023502);
  border-radius: 10px;
  cursor: pointer;
}

.dropzone:hover {
  background: linear-gradient(#012401, #0c490c);
}

.accept {
  background: linear-gradient(#001a00, #023502);
}

.reject {
  background: linear-gradient(#4d0000, #800000);
}

.tracklist {
  background-color: beige;
}

