.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#0c490c, #278b27);
  
}

.fileuploader {
  margin-top: 50px;
  width: 25vw;
  background-color: beige;
  border-radius: 10px;

.tracklist {
  background-color: beige;
}
}
